# This is my small backup file
config/nvim/coc-settings.json.bak

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

config/nvim/spell/*.spl
config/nvim/spell/*.sug
config/nvim/spell/*.add

NetrwTreeListing
.vim/
Session.vim

.DB_Store
.DS_Store

