# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.venv

NetrwTreeListing
.vim/
Session.vim

.DB_Store
.DS_Store

config/hammerspoon/hidden.lua

.aider*
.qwen

node_modules
.test-home/
