# This is my small backup file
.config/nvim/coc-settings.json.bak

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.config/nvim/plugin/packer_compiled.lua

.config/nvim/spell/custom.utf-8.add
.config/nvim/spell/custom.utf-8.add.spl

NetrwTreeListing
.vim/
