"" Source your .vimrc
source ~/.vimrc

" IDEA stuff
set ideajoin
set idearefactormode=keep
set ideamarks

" Plugins
Plug 'preservim/nerdtree'

" Mappings

map <leader>rn <Action>(RenameElement)
map <leader>a <Action>(ShowIntentionActions)
map <leader>q <Action>(QuickJavaDoc)
imap <C-p> <Action>(QuickJavaDoc)

map <leader>o <Action>(FileStructurePopup)
map <leader>s <Action>(SearchEverywhere)
map <leader>fc <Action>(FindInPath)
map <leader>ff <Action>(GotoFile)

map <leader>L <Action>(ReformatCode)
map <leader>O <Action>(OptimizeImports)

map <C-s> <Action>(EditorSelectWord)
imap <S-space> <Action>(CodeCompletion)

map gr <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gd <Action>(GotoDeclaration)
map gD <Action>(GotoTypeDeclaration)



